body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: rgb(123, 148, 228);
}

.btn, .btn-large, .btn-small {
    background-color: blueviolet;
}

main { 
    flex: 1 0 auto;
}

.card {
    cursor: pointer;
    min-height: 500px;
}

.page-footer {
    padding-top: 0;
    background-color: rgb(123, 148, 228);
}

img {
    width: 300px;
}

.candidateContainer {
    margin: 40px;
}